<mat-toolbar color="primary" style="height: 100vh;">
  <div>
    <img src="/assets/images/logo-1.png" alt="">
    <ul>
      <li routerLinkActive="active">
        <a [routerLink]="['/eventos']">
          Eventos
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/tarifas']">Tarifas</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/horario']">Horario</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/maestros']">Profesores</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/contacto']">Contacto</a>
      </li>
    </ul>
  </div>
    
</mat-toolbar>