@font-face {
    font-family: 'Gabarito';
    src: url(../resources/fonts/Gabarito/static/Gabarito-Regular.ttf) format('truetype');
}
* {
    font-family: 'Gabarito';
}
mat-toolbar{
    display: flex;
}